@import "variables";
@import "mixins";

/*
 * Default
 * 1.0 - Header
 * 2.0 - Body
 * 3.0 - Footer
 */

/* Default */
body {
	margin : 0;
	font-family: sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

a,
a:hover,
a:focus {
	text-decoration: none;
}

.text-white {
	color: $white;
}

.text-pink {
	color: $pink;
}

.text-gray {
	color: $light-gray;
}

.logo {
	font-size: 48px;
	font-weight: 600;
	font-family: 'EA Sports Covers SC Bold';
}

 /* 1.0 - Header */
 .header {
 	width: 100%;
 	background: $black;
 	padding: 10px 0;

 	.welcome {
 		color: $gray;
 	}

 	.menu,
 	.menu-dropdown {
 		padding: 0;
 	}

 	.menu {
 		text-align: right;
 		margin: 0;
 	}

 	.menu,
 	.menu-dropdown {

 		.menu-item {
 			list-style: none;
 			display: inline-block;
 			margin-right: 10px;

 			&:last-child {
 				margin-right: 0;
 			}

 			.menu-link {
 				color: $gray;
 			}
 		}
 	}

 	.menu-dropdown {
 		margin: 38px 0 0 0;

 		.menu-item {
 			position: relative;

 			&:hover {

 				.submenu {
 					visibility: visible;
 				}
 			}

 			.submenu {
 				position: absolute;
 				top: auto;
 				z-index: 10;
 				visibility: hidden;
 				width: 768px;
 				background: $white;
 				padding: 10px;
 				border: 2px solid $pink;

 				.submenu-item {
 					list-style: none;

 					&.submenu-title,
 					.submenu-link {
 						padding: 6px;
 					}

 					&.submenu-title {
 						margin-bottom: 6px;
 					}

 					.submenu-link {
 						display: block;
 						color: $black;

 						&:hover {
 							background: $gray;
 						}
 					}
 				}

 				.submenu-title,
 				.submenu-link,
 				.submenu-legend {
 					font-family: 'Lato', sans-serif;
 				}

 				.submenu-legend {
					margin-top: 5px;
				}
 			}
 		}

 		.menu-link {
 			text-transform: uppercase;
 			font-weight: 600;

 			&:hover {
 				border-bottom: 3px solid $pink;
 			}

 			.fa {
 				color: $dark-gray;
 				margin-right: 6px;
 			}
 		}
 	}

 	.search-box {
 		margin-top: 30px;

 		.form-search {
 			margin: 0;
 		}

 		.input-search {
 			border: none;
 			border-bottom: 2px solid $gray;
 			background: transparent;
 			color: $gray;
 			width: 80%;
 		}

 		.btn-search {
 			color: $gray;
 			background: transparent;
 			border: none;
 		}
 	}

 	.cart {
 		margin-top: 20px;
 		width: 65%;

 		.icon {
 			font-size: 34px;
 			float: left;
 			margin-right: 8px;
 		}

 		.itens {
 			display: block;
 		}

 		.itens,
 		.value {
 			color: $gray;
 		}
 	}
}

/* 2.0 - Body */
.banner {
	margin-bottom: 10px;
}

#products {
	margin: 20px 0;
}

.section-products-title {
	border-top: 1px solid $gray;
	padding-top: 10px;
	margin: 0 0 20px 0;
}

.product {

	.single-product {
		position: relative;
		background: $white;
		height: 200px;

		.product-image {
			margin: 0 auto;
			display: block;
			clear: both;
		}

		.label {
			position: absolute;
			border-radius: 0;

			&.label-to-left {
				top: 10px;
				left: 0;
			}

			&.label-to-right,
			&.label-to-right-2 {
				right: 0;
			}

			&.label-to-right {
				top: 10px;
			}

			&.label-to-right-2 {
				top: 24px;
			}

			&.bg-black {
				background: $black;
			}

			&.bg-blue {
				background: $light_blue;
			}

			&.bg-pink {
				background: $pink;
			}
		}
	}

	.product-name {
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		margin: 10px 0 20px 0;
	}

	.btn-buy {
		display: block;
		text-align: center;
		border: 1px solid $green;
		color: $green;
		width: 50%;
		padding: 10px;
		margin: 10px auto 0;
		@include my-transition(0.3s);

		&:hover {
			background: $green;
			color: $white;
		}

		.fa {
			margin-right: 10px;
		}
	}
}

.newsletter-section {
	width: 100%;
	padding: 10px 0 40px 0;
	background: $gray-section;

	.newsletter-title {
		margin: 10px 0 30px 0;
	}

	.newsletter-info {
		text-transform: uppercase;
		font-weight: 600;
	}

	.newsletter-info,
	.form-newsletter {
		margin-bottom: 5em;
	}

	.newsletter-box {
		position: relative;

		.fa {
			position: absolute;
			left: 2px;
			top: 6px;
		}
	}

	.input-text {
		border: none;
		border-bottom: 3px solid $black;
		background: transparent;
		width: 60%;
		height: 28px;
		padding: 5px 5px 5px 25px;
	}

	.btn-submit {
		background: $black;
		color: $white;
		width: 20%;
		border: none;
		margin-left: 10px;
		height: 30px;
	}

	.social-media-follow {
		margin: 0;
		padding: 0;

		.item {
			list-style: none;
			display: inline-block;
			padding-right: 10px;

			.social-media {
				background: $white;
				color: $black;
				display: block;
				width: 30px;
				height: 30px;
				padding-top: 6px;
				text-align: center;
				font-size: 18px;
				@include my-border-radius(50%);
				@include my-transition(0.3s);

				&:hover {
					background: $black;
					color: $white;
				}
			}
		}
	}
}

/* 3.0 - Footer */
.footer,
.footer-payments {
	
	.widget-footer-title {
		font-weight: 600;
		font-size: 14px;
	}
}

.footer {
	width: 100%;
	background: $black;
	padding: 20px 0;

	.widgets-footer {
		margin-bottom: 20px;

		.widget-footer-title {
			color: $gray;
		}

		.menu-footer,
		.menu-footer-inline {
			margin: 0;
			padding: 0;

			.item {
				list-style: none;

				.link {
					color: $gray;
					font-family: 'Lato', sans-serif;
				}
			}
		}

		.menu-footer {

			.item {
				margin-bottom: 6px;				
			}
		}

		.logo-footer {
			margin-bottom: 20px;
		}

		.menu-footer-inline {
			
			.item {
				display: inline-block;
				margin-right: 10px;
			}
		}

		.widget-text {
			color: $gray;
			font-family: 'Lato', sans-serif;

			.line {
				margin-bottom: 2px;
			}
		}
	}
}

.footer-payments {
	background: $gray-section;
	width: 100%;
	padding: 20px 0;

	.widget-footer-title {
		color: $black;
	}
}

.footer-copyright {
	background: $white;
	width: 100%;
	padding: 10px 0;

	.copyright-text {
		display: block;
		color: $light-gray;
		font-size: 10px;
	}
}