/*
 * Default
 * 1.0 - Header
 * 2.0 - Body
 * 3.0 - Footer
 */
/* Default */
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px; }

a,
a:hover,
a:focus {
  text-decoration: none; }

.text-white {
  color: #ffffff; }

.text-pink {
  color: #de006f; }

.text-gray {
  color: #999999; }

.logo {
  font-size: 48px;
  font-weight: 600;
  font-family: 'EA Sports Covers SC Bold'; }

/* 1.0 - Header */
.header {
  width: 100%;
  background: #333333;
  padding: 10px 0; }
  .header .welcome {
    color: #eeeeee; }
  .header .menu,
  .header .menu-dropdown {
    padding: 0; }
  .header .menu {
    margin: 0; }
  @media only screen and (max-width: 767px) {
    .header .menu {
      margin: 10px 0; } }
  @media only screen and (min-width: 768px) {
    .header .menu {
      text-align: right; }
    .header .navbar-collapse {
      padding: 0; } }
  .header .menu .menu-item,
  .header .menu-dropdown .menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 10px; }
    .header .menu .menu-item:last-child,
    .header .menu-dropdown .menu-item:last-child {
      margin-right: 0; }
    .header .menu .menu-item .menu-link,
    .header .menu-dropdown .menu-item .menu-link {
      color: #eeeeee; }
  .header .navbar-toggle {
    color: #ffffff;
    font-size: 24px;
    float: left;
    border-color: #ffffff; }
  .header .menu-dropdown {
    margin: 38px 0 0 0; }
    .header .menu-dropdown .menu-item {
      position: relative; }
      .header .menu-dropdown .menu-item:hover .submenu {
        display: block; }
      .header .menu-dropdown .menu-item .submenu {
        position: absolute;
        top: auto;
        z-index: 10;
        display: none;
        background: #ffffff;
        padding: 10px;
        border: 2px solid #de006f; }
        .header .menu-dropdown .menu-item .submenu .submenu-item {
          list-style: none; }
          .header .menu-dropdown .menu-item .submenu .submenu-item.submenu-title,
          .header .menu-dropdown .menu-item .submenu .submenu-item .submenu-link {
            padding: 6px; }
          .header .menu-dropdown .menu-item .submenu .submenu-item.submenu-title {
            margin-bottom: 6px; }
          .header .menu-dropdown .menu-item .submenu .submenu-item .submenu-link {
            display: block;
            color: #333333; }
            .header .menu-dropdown .menu-item .submenu .submenu-item .submenu-link:hover {
              background: #eeeeee; }
        .header .menu-dropdown .menu-item .submenu .submenu-title,
        .header .menu-dropdown .menu-item .submenu .submenu-link,
        .header .menu-dropdown .menu-item .submenu .submenu-legend {
          font-family: 'Lato', sans-serif; }
        .header .menu-dropdown .menu-item .submenu .submenu-legend {
          margin-top: 5px; }
    .header .menu-dropdown .menu-link {
      text-transform: uppercase;
      font-weight: 600; }
      .header .menu-dropdown .menu-link:hover {
        border-bottom: 3px solid #de006f; }
      .header .menu-dropdown .menu-link .fa {
        color: #7a7a7a;
        margin-right: 6px; }
  @media only screen and (min-width: 768px) {
    .header .submenu {
      width: 750px; } }
  @media only screen and (min-width: 768px) {
    .header .search-box {
      margin-top: 30px; } }
  @media only screen and (min-width: 768px) {
    .header .input-search {
      width: 80%; } }
  @media only screen and (max-width: 767px) {
    .header .input-search {
      width: 90%; } }
  .header .search-box .form-search {
    margin: 0; }
  .header .search-box .input-search {
    border: none;
    border-bottom: 2px solid #eeeeee;
    background: transparent;
    color: #eeeeee; }
  .header .search-box .btn-search {
    color: #eeeeee;
    background: transparent;
    border: none; }
  @media only screen and (min-width: 768px) {
    .header .cart {
      float: right;
      width: 65%; } }
  .header .cart {
    margin-top: 20px; }
    .header .cart .icon {
      font-size: 34px;
      float: left;
      margin-right: 8px; }
    .header .cart .itens {
      display: block; }
    .header .cart .itens,
    .header .cart .value {
      color: #eeeeee; }

/* 2.0 - Body */
.banner {
  margin-bottom: 10px; }

#products {
  margin: 20px 0; }

.section-products-title {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  margin: 0 0 20px 0; }

.product .single-product {
  position: relative;
  background: #ffffff;
  height: 200px; }
  .product .single-product .product-image {
    margin: 0 auto;
    display: block;
    clear: both; }
  .product .single-product .label {
    position: absolute;
    border-radius: 0; }
    .product .single-product .label.label-to-left {
      top: 10px;
      left: 0; }
    .product .single-product .label.label-to-right, .product .single-product .label.label-to-right-2 {
      right: 0; }
    .product .single-product .label.label-to-right {
      top: 10px; }
    .product .single-product .label.label-to-right-2 {
      top: 24px; }
    .product .single-product .label.bg-black {
      background: #333333; }
    .product .single-product .label.bg-blue {
      background: #0082a7; }
    .product .single-product .label.bg-pink {
      background: #de006f; }
.product .product-name {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 10px 0 20px 0; }
.product .btn-buy {
  display: block;
  text-align: center;
  border: 1px solid #009200;
  color: #009200;
  width: 50%;
  padding: 10px;
  margin: 10px auto 0;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out; }
  .product .btn-buy:hover {
    background: #009200;
    color: #ffffff; }
  .product .btn-buy .fa {
    margin-right: 10px; }

@media only screen and (min-width: 768px) {
  .newsletter-info,
  .form-newsletter {
    margin-bottom: 5em; } }
@media only screen and (max-width: 767px) {
  .newsletter-info,
  .form-newsletter {
    margin-bottom: 10px; } }
.newsletter-section {
  width: 100%;
  padding: 10px 0 40px 0;
  background: #e4e4e4; }
  .newsletter-section .newsletter-title {
    margin: 10px 0 30px 0; }
  .newsletter-section .newsletter-info {
    text-transform: uppercase;
    font-weight: 600; }
  .newsletter-section .newsletter-box {
    position: relative; }
    .newsletter-section .newsletter-box .fa {
      position: absolute;
      left: 2px;
      top: 6px; }
  .newsletter-section .input-text {
    border: none;
    border-bottom: 3px solid #333333;
    background: transparent;
    width: 60%;
    height: 28px;
    padding: 5px 5px 5px 25px; }
  .newsletter-section .btn-submit {
    background: #333333;
    color: #ffffff;
    width: 20%;
    border: none;
    margin-left: 10px;
    height: 30px; }
  .newsletter-section .social-media-follow {
    margin: 0;
    padding: 0; }
    .newsletter-section .social-media-follow .item {
      list-style: none;
      display: inline-block;
      padding-right: 10px; }
      .newsletter-section .social-media-follow .item .social-media {
        background: #ffffff;
        color: #333333;
        display: block;
        width: 30px;
        height: 30px;
        padding-top: 6px;
        text-align: center;
        font-size: 18px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out; }
        .newsletter-section .social-media-follow .item .social-media:hover {
          background: #333333;
          color: #ffffff; }

/* 3.0 - Footer */
.footer .widget-footer-title,
.footer-payments .widget-footer-title {
  font-weight: 600;
  font-size: 14px; }

@media only screen and (max-width: 767px) {
  .footer .widgets-footer {
    text-align: left; } }
@media only screen and (min-width: 768px) {
  .footer #widget-footer-2 {
    text-align: center; }
  .footer #widget-footer-3 {
    text-align: right; } }
.footer {
  width: 100%;
  background: #333333;
  padding: 20px 0; }
  .footer .widgets-footer {
    margin-bottom: 20px; }
    .footer .widgets-footer .widget-footer-title {
      color: #eeeeee; }
    .footer .widgets-footer .menu-footer,
    .footer .widgets-footer .menu-footer-inline {
      margin: 0;
      padding: 0; }
      .footer .widgets-footer .menu-footer .item,
      .footer .widgets-footer .menu-footer-inline .item {
        list-style: none; }
        .footer .widgets-footer .menu-footer .item .link,
        .footer .widgets-footer .menu-footer-inline .item .link {
          color: #eeeeee;
          font-family: 'Lato', sans-serif; }
    .footer .widgets-footer .menu-footer .item {
      margin-bottom: 6px; }
    .footer .widgets-footer .logo-footer {
      margin-bottom: 20px; }
    .footer .widgets-footer .menu-footer-inline .item {
      display: inline-block;
      margin-right: 10px; }
    .footer .widgets-footer .widget-text {
      color: #eeeeee;
      font-family: 'Lato', sans-serif; }
      .footer .widgets-footer .widget-text .line {
        margin-bottom: 2px; }

.footer-payments {
  background: #e4e4e4;
  width: 100%;
  padding: 20px 0; }
  .footer-payments .widget-footer-title {
    color: #333333; }

.footer-copyright {
  background: #ffffff;
  width: 100%;
  padding: 10px 0; }
  .footer-copyright .copyright-text {
    display: block;
    color: #999999;
    font-size: 10px; }

@media only screen and (min-width: 768px) {
  .design-by {
    float: right; } }
@media only screen and (max-width: 767px) {
  .design-by {
    margin-top: 5px; } }

/*# sourceMappingURL=style.css.map */
